.header {
  top: 0;
  left: 0;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  width: 1534px;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px 0 10px 0;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.header__item {
  margin-right: 20px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
  text-decoration: none;
}

