header.header
  .wrapper
    .header__wrapper
      .header__logo
        a(href="#privet" class="header__logo-link")
          img.header__logo-icon(srcset="../src/img/svg/toxin-logo.svg" alt="Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»")

      nav.header__nav
        ul.header__list
          li.header__item: a.header__link(href="#1") О нас
          li.header__item: a.header__link.arrow-down(href="#2") Услуги
          li.header__item: a.header__link(href="#3") Вакансии
          li.header__item: a.header__link(href="#4") Новости
          li.header__item: a.header__link.arrow-down(href="#5") Соглашения
          li.header__item: a.header__link(href="#6"): button.button.button--login Войти
          li.header__item: a.header__link(href="#7"): button.button.button--sign Зарегистрироваться