<footer class="footer">
    <div class="wrapper">
      <div class="footer__wrapper">
        <div class="footer__copyright">
          <p>Copyright © 2018 Toxin отель. Все права зачищены.</p>
        </div>
        <div class="footer__icons">
          <div class="footer__twit"></div>
          <div class="footer__face"></div>
          <div class="footer__inst"></div>
        </div>
      </div>
    </div>
  </footer>