footer.footer
  .wrapper
    .footer__wrapper
      .footer__copyright
        p Copyright © 2018 Toxin отель. Все права зачищены.
      .footer__icons
        a(href='#1')
          .footer__twit
        a(href='#2')
          .footer__face
        a(href='#3')
          .footer__inst