@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=cyrillic');

body {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
  }
  
  h1 {
    font-family: Quicksand;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #1F2041;
  }
  
  h2 {
    font-family: Quicksand;
    font-weight: bold;
    font-size: 19px;
    color: #1F2041;
  }
  
  h3 {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
  }