.arrow-down {
    position: relative;
    margin-right: 24px;
}


.arrow-down:before{
    content:'';
    right: -18px;
    bottom: 5px;
    position: absolute;
    width: 9px;
    height: 9px;
    transform: rotate(45deg);
    border-bottom: 2px solid rgba(31, 32, 65, 0.5);
    border-right: 2px solid rgba(31, 32, 65, 0.5);
  }