main.main
  .wrapper
    .main__wrapper
      .main__rooms
        h1 Найдём номера под ваши пожелания
        form.main__form-rooms(action="index.html" method="post")
          .main__input-wrapper
            .main__input-container1
              label(for="date-field1") Прибытие 
              input.field.main__date-field(id='date-field1' type="text" placeholder='ДД.ММ.ГГГГ')
              .input-arrow-down
            .main__input-container2
              label(for="date-field2") Выезд
              input.field.main__date-field(id='date-field2' type="text" placeholder='ДД.ММ.ГГГГ')
              .input-arrow-down
          label(for="guest-field") Гости 
          input.field.main__guest-field(id='guest-field' type="text" placeholder='Сколько гостей')
          .input-arrow-down
          button.button.form-button.button-arrow-right Подобрать номер
      div.main__about-mini
        p Лучшие номера для вашей работы, отдыха и просто вдохновения
include main-footer/main-footer

      
      
      